##manage the dependency with JPA2 backend
#exposeMaven()
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>    
  	<groupId>${groupId}</groupId>
  	<artifactId>$artifactId</artifactId>
  	<packaging>ejb</packaging>
  	<version>${version}-SNAPSHOT</version>
  	<name>$artifactId EJB3 Web service Facade, EJB DAO specification and implementation</name>
    <url>http://maven.apache.org</url>
	
    <dependencies>
        <dependency>
            <groupId>${groupId}</groupId>
            <artifactId>${DbApiName}</artifactId>
            <version>${version}-SNAPSHOT</version>
        </dependency>	
	   <dependency>
	     <groupId>org.glassfish.extras</groupId>
	     <artifactId>glassfish-embedded-all</artifactId>
	     <version>3.0</version>
	     <scope>test</scope>
	   </dependency>
	   <dependency>
	     <groupId>junit</groupId>
	     <artifactId>junit</artifactId>
	     <version>4.8.1</version>
	     <scope>test</scope>
	   </dependency>
	   <dependency>
	     <groupId>javax</groupId>
	     <artifactId>javaee-api</artifactId>
	     <version>6.0</version>
	     <scope>provided</scope>
	   </dependency>
    </dependencies>
   
    <build>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-ejb-plugin</artifactId>
                <configuration>
                    <ejbVersion>3.0</ejbVersion>
                </configuration>
            </plugin>			
            <plugin>
                <!-- Force UTF-8 & Java-Version 1.6 -->
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <configuration>
                    <source>1.6</source>
                    <target>1.6</target>
                    <!--<encoding>utf-8</encoding>-->
                </configuration>
            </plugin>         
        </plugins>
		<finalName>${generatorBean.name}EJB</finalName>
    </build>

	<repositories>
		<repository>
			<id>maven2-repository.dev.java.net</id>
			<name>Java.net Repository for Maven</name>
			<url>http://download.java.net/maven/2/</url>
			<layout>default</layout>
		</repository>
		<repository>
			<id>maven2-repository.dev.java.net.glassfish</id>
			<name>Java.net Repository for Maven</name>
			<url>http://download.java.net/maven/glassfish/</url>
		</repository>
	</repositories>
	
</project>