#exposeMaven()
#exposeVariableModelSpecific()
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <!--<parent>
            <groupId></groupId>
            <artifactId></artifactId>
            <version></version>
    </parent>-->
    <groupId>${groupId}</groupId>
    <artifactId>${artifactId}</artifactId>
    <version>${version}-SNAPSHOT</version>
    <name>$DbApiName Vaadin Web Application</name>  
    <packaging>war</packaging>
    <dependencies>
        <dependency>
            <groupId>${groupId}</groupId>
            <artifactId>${generatorBean.name}Bsla</artifactId>
            <version>${version}-SNAPSHOT</version>
        </dependency>
        <dependency>
            <groupId>com.vaadin</groupId>
            <artifactId>vaadin-server</artifactId>
            <version>${vaadin.version}</version>
        </dependency>
        <dependency>
            <groupId>com.vaadin</groupId>
            <artifactId>vaadin-client-compiled</artifactId>
            <version>${vaadin.version}</version>
        </dependency>
        <dependency>
            <groupId>com.vaadin</groupId>
            <artifactId>vaadin-themes</artifactId>
            <version>${vaadin.version}</version>
        </dependency>
        <dependency>
            <groupId>javax.servlet</groupId>
            <artifactId>servlet-api</artifactId>
            <version>2.3</version>
            <scope>provided</scope>
        </dependency>
        <dependency>
            <groupId>com.vaadin.addon</groupId>
            <artifactId>jpacontainer-addon</artifactId>
            <version>3.0.0-SNAPSHOT</version>
        </dependency>
	    <dependency>
	       <groupId>org.vaadin.addons</groupId>
	       <artifactId>toolkit-productivity-tools</artifactId>
	       <version>1.1.1</version>
	    </dependency>   
    </dependencies>
  <repositories>
        <repository>
            <id>vaadin-addons</id>
            <url>http://maven.vaadin.com/vaadin-addons</url>
        </repository>
        <repository>
            <id>vaadin-snapshots</id>
            <name>Vaadin snapshot repository</name>
            <url>http://oss.sonatype.org/content/repositories/vaadin-snapshots/</url>
        </repository>  
  </repositories>
    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <vaadin.version>7.0.0</vaadin.version>
	</properties>
  <build>
    <finalName>${generatorBean.name}VaadinApp</finalName>
    <resources>
        <resource>
         <directory>src/main/resources</directory>
         <excludes>
          <exclude>**/*.java</exclude>
         </excludes>
        </resource>
    </resources>    
    <plugins>
#*	  <plugin>
	    <groupId>org.apache.maven.plugins</groupId>
	    <artifactId>maven-war-plugin</artifactId>
	    <version>2.1.1</version>
	    <configuration>
	      <webResources>
	        <resource>
	          <!-- this is relative to the pom.xml directory -->
	          <directory>${env.VAADIN_HOME}/WebContent</directory>
	          <includes>
	            <include>VAADIN/**</include>
	          </includes>
	        </resource>
	      </webResources>
	    </configuration>
	  </plugin>    
	  *#
    <plugin>
        <groupId>org.apache.maven.plugins</groupId>
        <artifactId>maven-compiler-plugin</artifactId>
        <configuration>
            <source>1.6</source>
            <target>1.6</target>
        </configuration>
    </plugin>        
     </plugins>   
  </build> 
</project>