#exposeVariableModelSpecific()
#exposeArchitectureParams()
#exposeSpringJPAArchitectureParams()
#exposeJPASpecifics()
#exposeSpringTemplate()
<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

##    <!-- Dao JPA -->
##    <import resource="classpath:${pathDaoJPA}.xml"/>    

#exposeModelUpdatedAreas("${JPAFactoryName}")
$!updatedAreaBegin
#if($isUpdated)
$!updatedAreaSnippet
#else
#exposeJPAModelSpecifics()
    <!-- hibernate config to put in an appart config file-->
    <bean id="$JPAFactoryName" autowire="byName"
        class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- all connection information are retrieve from the persistence file-->
		<!--
			<property name="dataSource" ref="..."/>
			<property name="persistenceUnitName" value="..."/>
		-->
		<property name="persistenceUnitName" value="$persistenceUnitName"/>
        <property name="persistenceXmlLocation" value="$persistenceXmlLocation" />
    </bean>
#end
$!updatedAreaEnd

    <!-- dao packages -->
#set($templateSDDSpringJPADao = "SDDSpringJPADao")
#set($daoPackageName=$commonUtils.getPackageName($model, $template, $templateDomainObjectBslaDaoImpl))
#set($daoExtPackageName=$commonUtils.getPackageName($model, $template, $templateDomainObjectBslaDaoExtImpl))
    <context:component-scan base-package="${daoPackageName}"/>
#if ($daoPackageName!=$daoExtPackageName)
    <context:component-scan base-package="${daoExtPackageName}"/>
#end	
#if ($model.statementModel.hasQueries())
#set($templateSDDSpringJPADao = "SDDSpringJPADao")
#set($sddDaoPackageName=$commonUtils.getPackageName($model, $template, $templateSDDSpringJPADao))
    <context:component-scan base-package="${sddDaoPackageName}"/>
#end
    <!-- Database -->
    <import resource="classpath:${databaseConfig}.xml"/>    

</beans>

