#exposeVariableEntitySpecific()
##putImportParams()
#getTemplatePropertyValue("uml")
#if (!$value.equals("true"))
#putImportParams()
#else
#putImportParamsUML()
#end
package $packageName;

#getTemplatePropertyValue("uml")
#if (!$value.equals("true"))
import $importDomainObject;
#else
import $importDomainObjectUML;
#end
import java.util.List;
import java.sql.*;


/**
 *
 * <p>Title: $className</p>
 *
 * <p>Description: Service layer Interface 
 * It offers coarse grain methods over the fine grain DAO layer:
 * It performs input and business validation.
 * </p>
 *
 */
public interface $className {

    /**
     * Inserts a $tableClassName entity $tCN 
     * @param $tableClassName $tableVariableName
     */
    public $tableClassName insert ($tableClassName $tableVariableName) ;

    /**
     * Updates a $tableClassName entity 
     * @param $tableClassName $tableVariableName
     */
    public $tableClassName update($tableClassName $tableVariableName) ;


     /**
     * Saves a $tableClassName entity 
     * @param $tableClassName $tableVariableName
     */
    public void save($tableClassName $tableVariableName);
    
    /**
     * Deletes a $tableClassName entity 
     * @param $tableClassName $tableVariableName
     */
    public void delete($tableClassName $tableVariableName) ;
    
    /**
     * Loads the $tableClassName entity which is related to an instance of
     * $tableClassName
#foreach ($column in $table.primaryKeyColumns) 
#putColumnParams()
     * @param $columnType $columnVar
#end
     * @return $tableClassName The $tableClassName entity
     */
     public $tableClassName load$tableClassName(
#foreach ($column in $table.primaryKeyColumns) 
#putColumnParams()
     $columnType $columnVar#if ($velocityCount!=$primaryKeyCount),#end
#end
    );   
        
    /**
     * Loads the $tableClassName entity which is related to an instance of
     * $tableClassName
     * @param $primaryKeyFullType $primaryKey
     * @return $tableClassName The $tableClassName entity
     */
    public $tableClassName loadFullFirstLevel$tableClassName($tableClassName $tableVariableName);    

    /**
     * Loads the $tableClassName entity which is related to an instance of
     * $tableClassName and its dependent one to many objects
#foreach ($column in $table.primaryKeyColumns) 
#putColumnParams()
     * @param $columnType $columnVar
#end
     * @return $tableClassName The $tableClassName entity
     */
    public $tableClassName loadFullFirstLevel$tableClassName(
#foreach ($column in $table.primaryKeyColumns) 
#putColumnParams()
     $columnType $columnVar#if ($velocityCount!=$primaryKeyCount),#end
#end
    );       
    
    /**
     * Searches a list of $tableClassName entity 
     * @param $tableClassName $tableVariableName
     * @return List
     */
    public List<$tableClassName> search$tableClassName($tableClassName $tableVariableName) ;
        
    /**
     * Load a paginated list of $tableClassName entity dependent of pagination criteria
     * @param PaginationCriteria paginationCriteria
     * @return List
     */
    public List loadPaginated$tableClassName ($tableClassName $tableVariableName, PaginationCriteria paginationCriteria) ;
            
}
